<div class="contactpage">
    <p class="contus">Контакты</p>

    <div class="contform">
        <div class="contbl1">
            <p class="getin">Get in touch with us</p>
            <div class="allcont">Lorem ipsum dolor sit amet, consectetur adipisicing elit,sheets
                containing Lorem Ipsum passages sed do, At vero eos et accusamus et<br>briusto odio digs qui blanditiis <br>
                <br>
                Leningradsky AVE 39, BLDG 79 <br>
                MOSCOW 125167, Russia <br>
                <br>
                Telephone : +00 111 222 3333 <br>
                <br>
                FAX : +1 888 888 4444 <br>
                <br>
                <p class="mail1">Email:&nbsp;</p>
                <p class="mailcont">mail@example.com</p>
            </div>

        </div>
        <form action="#">
            <fieldset style="border: none">
                <input type="text" class="contformtxt" placeholder="Ваше имя">
                <input type="email" class="contformtxt" placeholder="Email" pattern="\S+@[a-z]+.[a-z]+">
                <textarea class="message" name="message" placeholder="Сообщение"></textarea>
                <input type="submit" class="contbutt" value="Отправить">
            </fieldset>
        </form>
    </div>
    <p class="rout">Мы на карте</p>
    <div class="map1">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A99812b4ff72bd9fb4d073b110b71dd8e28406eb2e9cde29ace19dcde933f4967&amp;width=1169&amp;height=298&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
</div>