{% include 'log.html' %}
{% include 'sign.html' %}

<div class="header">
    <div class="contacts clearfix">
        <div class="logobar">
            <div class="logo">
                <a href="#" class="logotext1">Historical</a>
                <a href="#" class="logotext2">games</a>
            </div>

            <div class="contactsbar">
                <img class="telephone" src="../public_html/img/mobile.png" alt="tel">
                <a href="tel:+1234567890" class="tel">+123 456 7890</a>
                <img class="email" src="../public_html/img/email.png" alt="email">
                <a href="mailto:info@example.com" class="mail">info@example.com</a>
            </div>
            <div class="searchbar">
                <input type="text" placeholder="Search">
                <button type="submit" class="searchbtn"></button>
            </div>
        </div>
    </div>
    <div class="menubox">
        <ul class="menu">
            <li class="menu-list"><a href="#" class="menu-link">Главная</a></li>
            <li class="menu-list"><a href="#" class="menu-link">О нас</a></li>
            <li class="menu-list"><a href="#" class="menu-link">Сервис</a></li>
            <li class="menu-list"><a href="#" class="menu-link  ml-home">Галерея</a></li>
            <li class="menu-list"><a href="#" class="menu-link">Новости</a></li>
            <li class="menu-list"><a href="#" class="menu-link">Команда</a></li>
            <li class="menu-list"><a href="#" class="menu-link">Контакты</a></li>
        </ul>

        <div class="userbar">
            <a href="#modal_log" class="userbar-link open_modal">Вход в кабинет <i class="fas fa-sign-in-alt"></i></a>
            <a href="#modal_sign" style="width: 125px" class="userbar-link open_modal">Регистрация <i class="fas fa-user-plus"></i></a>
        </div>

    </div>
</div>
