<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Gamers | Галерея</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public_html/css/styleanother.css">
    <link rel="stylesheet" href="../public_html/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
</head>

<body>
    <div class="contaner">

        {% include 'header.tmpl' %}

        <div class="gallery clearfix">
             <div class="galh">Галерея</div>
                  <div class="galbl">
                        {% for item in data %}
                                <div class="galitem">
                                    <img src="../admin/uploadimg/{{ item['img'] }}">
                                    <p>{{ item['title'] }}</p>
                                    <p class="itemId">{{ item['id'] }}</p>
                                    <a href="card.php?good={{ item['id'] }}" class="buy1">Купить</a>
                                </div>
                        {% endfor %}
             </div>
                  <div id="showContent" class="galbl"></div>
        </div>

        <a href="#" id="showMore" class="show">Show more games...></a>

        {% include "contact.tmpl" %}

        <div class="clr"></div>
        <!--двойник футера-->
    </div>

    <div class="footer">
        <p class="footertext">&copy; Historical Games. All rights reserved | Design by W3layouts</p>
    </div>

    <script src="../public_html/js/jquery-3.5.1.min.js"></script>
    <script src="../public_html/js/ajax.js"></script>
</body>
</html>
